# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist


.angular
.vscode
.yarn
.editorconfig
.eslintrc.json
.nvmrc
.yarnrc.yml
angular.json
README.md
projects
package.json
tsconfig.json
yarn.lock
