@use '@angular/material' as mat;

.checker {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;

  mat-form-field {
    width: 600px
  }

  &__subtitle {
    text-decoration: underline;
  }

  &__generated-form {
    padding: 8px;
  }

  &__generated-value {
    padding: 8px;

    &__value {
      display: flex;
      align-items: center;

      flex-wrap: wrap;
      background-color: mat.get-color-from-palette(mat.$gray-palette, 100);

    }
  }


}
